@charset "utf-8";


.block {
    display: flex;
    flex-wrap: wrap;
    border: none;
    padding: 0 5px;
    height: 30px;
    overflow: hidden;
    background: #fff;
    width: 600px;
}

.notice {
    flex: 0.3;
    padding: 8px;
    color: #777;
    font-family: 'NanumSquare_NeoEB';
    font-size: 14px;
}

.block li a {
    flex: 0.7;
    display: block;
    height: 30px;
    line-height: 30px;
    color: #555;
    text-decoration: none;
    font-family: 'NanumSquare_NeoR';
    font-size: 11px;
}

.new {
    padding: 2px 5px;
    background: #fff;
    color: #900020;
    font-weight: bold;
    margin-right: 3px;
    font-family: 'NanumSquareR';
    font-size: 11px;
}